<!DOCTYPE html>
<html>
<head>
  <title>RailsBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
<nav>
  <% if current_user %>
  <ul>
    <li><a href="/users/<%= current_user.id %>">Profile</a></li>
    <li><a href="/posts">All Posts</a></li>
    <li><a href="/posts/new">New Post</a></li>
    <li><a href="/logout">Logout</a></li>
    <li><h3>RailsBlog</h3></li>
  </ul>
  <%else%>
    <ul>
      <li><a href="/login">Login</a></li>
      <li><a href="/users/new">Register</a></li>
      <li><h3>RailsBlog</h3></li>
    </ul>
  <% end %>
</nav>
  <div class="container">

<%= yield %>

  </div>
</body>
</html>
